doctype html
html
  head
    title Inventario
    meta(charset='utf-8')
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet', type='text/css')
    link(href='css/animate.css', rel='stylesheet', type='text/css')
  body
    
nav.large-padding.fondo-gris
  ul.no-list.mediano
    li.pacifico.col-md-3.inline-block
      a.green(href='index.html')
        | Food Facilito 
        small.lato.small Vive, convive y diviértete
    li.col-md-3.inline-block
      a(href='agregar') Agregar elemento
    li.col-md.-3.inline-block
      a(href='consulta') Mostrar Inventario
block contenido